<div class="content-container">
  <div class="content-centered">
    <p class="above-h1-text">Please set your password to complete your registration.</p>
    <h1>Complete your registration</h1>
    <form>
      <!-- password at least 8 characters, at least one number -->
      <label for="password">Password *</label>
      <div class="element-hint-below">
        <input id="password" name="password" type="password" [(ngModel)]="preRegistratedUser.password" required
          #password="ngModel" pattern="(?=.*\d)(?=.*[a-z,A-Z]).{8,}">
        <span>Fill in your password (at least 8 characters with numbers).</span>
      </div>
      <label for="password-again">Password again *</label>
      <div class="element-hint-below">
        <input id="password-again" name="password-again" type="password" [(ngModel)]="preRegistratedUser.passwordAgain"
          required #passwordAgain="ngModel" pattern="(?=.*\d)(?=.*[a-z,A-Z]).{8,}">
        <span>Fill in your password again.</span>
      </div>
      <button type="submit" (click)="register()" [disabled]="!password.valid || !passwordAgain.valid">
        Complete registration <mat-icon fontSet="material-icons-outlined">how_to_reg</mat-icon></button>
      <a [routerLink]='["/"]'>Cancel <mat-icon fontSet="material-icons-outlined">close</mat-icon></a>
    </form>
  </div>
</div>